@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
    --modal-duration: 1s;
    font-family: 'Roboto Slab', serif;
}
.modal{
    text-shadow: 4px 4px 8px dodgerblue;
    font-family: 'Roboto Slab', serif;
    display:contents;
    position: center;
    z-index: 1;
    overflow:auto;
    background: rgba(0,0,0,0.5);

}
.modal-content {
    border: 15px solid #bccbcf;
    background: #7a295a;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px  8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: revert;
    animation-duration: var(--modal-duration);
    color: white;
}

 i{
    color: #cf1484;
}
.model-content h1, p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
@keyframes modalopen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}
